*.iml
/build
!build/
build/*
!build/outputs/
build/outputs/*
!build/outputs/mapping/
build/outputs/mapping/*
!build/outputs/mapping/release/
build/outputs/mapping/release/*
!build/outputs/mapping/release/mapping.txt
