<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.github.carlorodriguez.alarmon"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionName="1.0.1" android:versionCode="2">

  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <!-- This is for debug releases only! -->
  <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission> -->

  <!-- android:debugable for debug release only! -->
  <!-- <application android:icon="@drawable/alarmclock" android:label="@string/app_name" android:debuggable="true"> -->

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name">
    <activity
        android:name="io.github.carlorodriguez.alarmon.ActivityAlarmClock"
        android:theme="@style/MainAppThemeDark"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name="io.github.carlorodriguez.alarmon.ActivityAlarmNotification"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait"/>
    <activity
        android:name="io.github.carlorodriguez.alarmon.ActivityAlarmSettings"
        android:theme="@style/AppThemeDark"
        android:finishOnTaskLaunch="true"/>
    <activity
        android:name="io.github.carlorodriguez.alarmon.ActivityAppSettings"
        android:theme="@style/AppThemeDark"
        android:finishOnTaskLaunch="true"/>
    <activity
        android:name="io.github.carlorodriguez.alarmon.ActivityPendingAlarms"
        android:theme="@style/AppThemeDark"
        android:finishOnTaskLaunch="true"/>
      <activity
          android:name="io.github.carlorodriguez.alarmon.AboutActivity"
          android:theme="@style/AppThemeDark"
          android:finishOnTaskLaunch="true"/>
    <service android:name="io.github.carlorodriguez.alarmon.AlarmClockService"/>
    <service android:name="io.github.carlorodriguez.alarmon.NotificationService"/>
    <receiver android:name="io.github.carlorodriguez.alarmon.ReceiverAlarm"/>
    <receiver android:name="io.github.carlorodriguez.alarmon.ReceiverNotificationRefresh"/>
    <receiver android:name="io.github.carlorodriguez.alarmon.ReceiverDeviceBoot">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_REPLACED" />
        <data android:scheme="package" />
      </intent-filter>
    </receiver>
    <receiver android:name="io.github.carlorodriguez.alarmon.RecevierTimeZoneChange">
      <intent-filter>
        <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
      </intent-filter>
    </receiver>
  </application>

</manifest>
